<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Cef Sharp Any CPU -->
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Polokus.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="x86" />
		</assemblyBinding>
	</runtime>

 <userSettings>
  <Polokus.App.Properties.Settings>
   <setting name="BpmnPath" serializeAs="String">
    <value />
   </setting>
   <setting name="EnableLogs" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MessageListenerPort" serializeAs="String">
    <value>8085</value>
   </setting>
  </Polokus.App.Properties.Settings>
 </userSettings>
</configuration>